<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Eventos</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        #map {
            height: 850px;
            
        }
    </style>
</head>
<body>
    <h1>Mapa de Eventos</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        const eventos = <%- JSON.stringify(eventos) %>;

        // Inicializar o mapa
        //const map = L.map('map').setView([-22.9248, -45.4613], 12);
        const map = L.map('map').setView([-22.9400, -45.4613], 14,5);

        // Pelo Google Maps
        //L.tileLayer('https://mts1.googleapis.com/vt/lyrs=s&x={x}&y={y}&z={z}&key=YOUR_API_KEY', {
        //    maxZoom: 20
        //}).addTo


        // Adicionar o tile layer (OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 50,
        }).addTo(map);

        // Adicionar marcadores para os eventos
        eventos.forEach(evento => {
            L.marker([evento.latitude, evento.longitude])
             .addTo(map)
             .bindPopup(`<strong>${evento.evento}</strong><br>${evento.bairro}`);
        });
    </script>
</body>
</html>
